
extends layout

block content
	h1= title
	table
		- each todo in todos
			tr
				td #{todo.task} - #{todo.assignee}
				td
					a(href ='/todo/delete/#{todo.id}') delete
				td
					a(href ='/todo/done/#{todo.id}') done
